@import "~src/assets/variables";

:host {
    display: flex;
    position: relative;
    align-items: center;
}

img {
    display: block;
    width: 24px;
}


.count {
    // position: absolute;
    // top: -1px;
    // right: -6px;
    margin-left: 4px;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-color: $red;
    color: $white;
    font-size: .8rem;
  }