$space: 16px;

:host {
    position: relative;
    display: block;
    padding: $space * 2 0;
}

.grid {
    position: relative;
    display: grid;
    grid-gap: $space * 2;
    grid-template-columns: repeat(auto-fill, minmax(256px, 1fr));
}
