$white: white;
$primary: #166496;
$red: #bf2b2b;
$gray100: #fafafa !default;
$gray200: #ececec !default;
$gray300: #c4c4c4 !default;
$gray400: #b2b2b2 !default;
$gray500: #808080 !default;
$gray600: #646464 !default;
$gray700: #484848 !default;
$gray800: #323232 !default;
$gray850: #242424 !default;
$gray900: #161616 !default;
$time: .2s;
$motion: ease-in-out;
$radius: 3px;
$space: 16px;

// golden ratio

$gr_shorter: 38.1966;
$gr_longer: 61.8034;


@mixin transition($element: all, $t: $time, $delay: 0s) {
    @if $element==default {
        $element: all;
    }
    @if $t==default {
        $t: $time;
    }
    @if $delay==default {
        $delay: 0s;
    }
    transition: $element $t $motion $delay;
}

//- Mixin: Material Shadow
///
/// Box shadows based on 5 Material Design presets;
///
/// @param {variable} $z-depth [1] - shadow distance on z-axis
/// @param {variable} $strength [1] - multiplier for shadow strength/darkness
/// @param {variable} $color [1] - shadow color
/// @group layout
/// @example
///   div {
///     @include material-shadow(3);
///   }
/// @link https://codepen.io/dbox/pen/RawBEW
/// @author "Daniel Box"
@mixin material-shadow($z-depth: 1, $strength: 1, $color: black) {
    @if $z-depth == 1 {
        box-shadow: 0 1px 3px rgba($color, $strength * 0.14), 0 1px 2px rgba($color, $strength * 0.24);
    }
    @if $z-depth == 2 {
        box-shadow: 0 3px 6px rgba($color, $strength * 0.16), 0 3px 6px rgba($color, $strength * 0.23);
    }
    @if $z-depth == 3 {
        box-shadow: 0 10px 20px rgba($color, $strength * 0.19), 0 6px 6px rgba($color, $strength * 0.23);
    }
    @if $z-depth == 4 {
        box-shadow: 0 15px 30px rgba($color, $strength * 0.25), 0 10px 10px rgba($color, $strength * 0.22);
    }
    @if $z-depth == 5 {
        box-shadow: 0 20px 40px rgba($color, $strength * 0.3), 0 15px 12px rgba($color, $strength * 0.22);
    }
    @if ($z-depth < 1) or ($z-depth > 5) {
        @warn "$z-depth must be between 1 and 5";
    }
}